/.idea
/.vscode
/last-failed-e2e-test.*

node_modules
npm-debug.log
.DS_Store
dump.rdb

zone-mta/dkim.rsa
server/config/dev.yaml
k8s/okteto-kube-admb.config
private/
server/config/tunnel.yaml
k8s/helm/hcfmailerplus/Chart.yaml.bak

# Ignore DevSpace cache and log folder
.devspace/
dev-values.yaml
