$table-cell-padding: .5rem;
$input-border-color: #adb5bd;

$primary: #3d7bb9;
$secondary:  #3b4854;
$light:      #cfdede;
$dark:       #261c31;
$primary:    #a53d64;
$secondary:  #3b4854;
$info:       #7eb1a9;
$success:    #1e976b;
$warning:    #cfcd20;
$danger:     #d94110;
$white: #ffffff;

$breadcrumb-bg: #f6f7f8;
$breadcrumb-padding-x: 1rem;

$navbar-dark-color: rgba(#fff, .75) !default;
$navbar-dark-hover-color: #fff !default;
$navbar-active-color: #fff;

@import "../../node_modules/@coreui/coreui/scss/_variables"
